

#about, #education, #professionalExp, #professionalDev, #skills, #awards {
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;

}

footer {
    border: 1px solid grey;
}